################################################################################
# .gitignore file
################################################################################

# Visual Studio
**/.vs

# VisualGDB
**/.visualgdb
